.login-page {
  min-height: 100vh;
  /* background-image: url("src/img/ramcats_1.png"); */
  background-image: url(https://1drv.ms/i/c/42e13c4316a5d144/IQQBprp3UFxmQ5gXu1OG-nkDAUI5rAqvtSFxKm5tJH7t6_g);
  position: relative;
  overflow: hidden;
  z-index: 0; /* Added to ensure proper stacking */
}

.cat-icon-login {
  height: 180px;
}

.cat-container-login {
  position: absolute;
  top: -109px;
  left: 65%;
  transform: translateX(-50%);
  z-index: 2;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding-right: 2rem;
}

.login-container {
  max-width: 600px;
  background: white;
  border: 1px solid #e5e5e5;
  border-radius: 8px;
  padding: 2rem;
  margin: 180px auto 0; /* Adjust top margin if necessary */
  position: relative;
  z-index: 1;
  top: 70px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.login-title {
  text-align: center;
  margin-top: 0rem;
  margin-bottom: 0.5rem;
  font-size: 2.5rem;
  font-weight: bold;
}

.login-form-group {
  width: 100%; /* Ensure the form group spans the full width */
  box-sizing: border-box;
}

.form-group input:first-child {
  margin-bottom: 1rem;
}

.form-group input[type="text"],
.form-group input[type="password"],
.form-group input[type="email"] {
  width: 100%; /* Make input take up full available width */
  padding: 1rem;
  border: 2px solid #ddd;
  border-radius: 8px;
  font-size: 1rem;
  background-color: #f8f8f8;
  display: block;
  margin: 0 auto;
  margin-bottom: 2rem;
}

.primary-button {
  width: 27rem;
  height: 3rem;
  padding: 0.75rem;
  background-color: #1a0f4d;
  color: white;
  border: none;
  border-radius: 8px;
  display: block;
  margin: 0 auto 1rem auto;
}

.primary-button:hover {
  background-color: #ff914d;
  transform: translateY(-2px);
  color: #f5f5f5;
}

.secondary-button {
  width: 27rem;
  height: 3rem;
  padding: 0.75rem;
  background-color: #1a0f4d;
  color: white;
  border: none;
  border-radius: 4px;
  display: block;
  margin: 0 auto;
}

.secondary-button:hover {
  background-color: #ff914d;
  transform: translateY(-2px);
  color: #000000;
}

/* Mobile styles */
@media (max-width: 375px) {
  .login-container {
    width: 90%;
    margin: 6rem auto;
    padding: 1.5rem;
  }

  .cat-container {
    top: -40px;
    right: -10px;
  }

  .cat-icon {
    height: 80px;
  }
}

@media (max-width: 768px) {
  .login-container {
    max-width: 90%;
    margin-top: 6rem;
  }

  .cat-container {
    top: -70px;
    left: 50%;
    padding-right: 0;
  }

  .cat-icon {
    height: 120px;
  }

  input[type="text"],
  input[type="password"],
  input[type="email"] {
    width: 100%;
  }

  .primary-button,
  .secondary-button {
    width: 100%;
  }
}
