
.cat-icon-login{
  height: 180px;
 
 
}

.cat-container-login {
  position: absolute;
  top: -109px;
  left: 65%;
  transform: translateX(-50%);
  z-index: 2;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding-right: 2rem;
}



.background-pattern {
  position: absolute;
  top: 20;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
}

 .login-container {
  width: 100%;
  max-width: 500px;
  padding: 2rem;
  background: #f5f5f5;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  border: 2px solid #000000;
  border-radius: 8px;
  position: relative;
  margin-top: 9rem; 
  justify-content: center;
  align-items: center;
  
 }

.login-title {
  text-align: center;
  margin-top: 0rem;
  margin-bottom: 0.5rem;
  font-size: 2.5rem;
  font-weight: bold;
}

.login-form-group,
.form-group {
  margin-bottom: 2rem;

}

.form-group input:first-child {
  margin-bottom: 1rem;
}

input[type="text"],
input[type="password"],
input[type="email"] {
  width: 27rem;
  padding: 1rem;
  border: 2px solid #ddd;
  border-radius: 8px;
  font-size: 1rem;
  background-color: #f8f8f8;
  display: block;
  margin: 0 auto;
}

.primary-button {
  width: 27rem;
  height: 3rem;
  padding: 0.75rem;
  background-color: #1a0f4d;
  color: white;
  border: none;
  border-radius: 8px;
  display: block;
  margin: 0 auto 1rem auto;

}

.primary-button:hover {
  background-color: #FF914D;
  transform: translateY(-2px);
  color: #f5f5f5;
}

.secondary-button {
  width: 27rem;
  height: 3rem;
  padding: 0.75rem;
  background-color: #1a0f4d;
  color: white;
  border: none;
  border-radius: 4px;
  display: block;
  margin: 0 auto;
}

.secondary-button:hover {
  background-color: #FF914D;
  transform: translateY(-2px);
  color: #000000;
}


.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content-login {
  flex: 1 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  margin-bottom: 0rem;
}
/* Mobile styles */
@media (max-width: 375px) {

  .login-container {
    width: 85%;
    padding: 1.5rem;
    margin: 0;
    height: auto;
  }

  .cat-container {
    top: -40px;
    right: -10px;
  }

  .cat-icon {
    height: 80px;
  }
 }

 @media (max-width: 768px) {
  .login-container {
    max-width: 90%;
    margin-top: 6rem;
  }

  .cat-container {
    top: -70px;
    left: 50%;
    padding-right: 0;
  }

  .cat-icon {
    height: 120px;
  }

  input[type="text"],
  input[type="password"],
  input[type="email"] {
    width: 100%;
  }

  .primary-button,
  .secondary-button {
    width: 100%;
  }
}