.signup-page {
    min-height: 100vh;
    background-image: url('src/assets/ramcats 1.png');
    position: relative;
    overflow: hidden;
}

.signup-button {
    background: #FF914D;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    border: none;
}

h1 {
    color: #1a0f4d;
    font-size: 2rem;
    margin-bottom: 1rem;
}

.subtitle {
    margin-bottom: 2rem;
    border-bottom: 1px solid #ddd;
    padding-bottom: 1rem;
}

.sign-up-form-group {
    margin-bottom: 1.5rem;

    input,
    textarea {
        width: 100%;
        padding: 0.8rem;
        border: 1px solid #ccc;
        border-radius: 4px;
    }
}

.sign-up-form-group input,
.sign-up-form-group textarea {
    margin-bottom: 1rem;
}

textarea {
    margin: 10px;
    padding: 10px;
}

.sign-up-form-group input:last-child {
    margin-bottom: 0;
}

label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: 500;
}



.submit-btn {
    width: 100%;
    padding: 0.8rem;
    background: #1a0f4d;
    color: white;
    border: none;
    border-radius: 4px;
    margin-top: 1rem;
    cursor: pointer;
}

.catmascot {
    position: absolute;
    top: 110px;
    right: 150px;
    z-index: 2;
}

.paw {
    width: 200px;
    height: auto;
}

.signup-container {
    width: 600px;
    background: white;
    border: 2px solid black;
    border-radius: 12px;
    padding: 2rem;
    margin: 8rem auto;
    position: relative;
    z-index: 1;
}

@media (max-width: 768px) {
    .signup-container {
        width: 90%;
        margin: 1rem auto;
    }

    .cat-paws {
        display: none;
    }
}